div.text
{
  font-size: 35px;
  color: #fcf6a9;
  font-family: 'open sans';
  position: relative;
top: -18px;
right:  -80px;

}
div.text-aninmation
{
  transition: transform 0.2s ease-in-out;
}
div.text-aninmation:hover {
transform: scale(1.1);
transition: transform 0.2s ease-in-out;
}
 
body
{

    background-image: url("pexels-bich-tran-669996.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      overflow-x: hidden;
      background-attachment: fixed;
}

div.profile
{
    position: absolute;
    left: 80px;
    box-sizing: border-box;
     margin-top:25px;
}
div.img{
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(10%);
  transition: transform 0.2s ease-in-out;

}

div.img:hover {
  transform:scale(1.1);
  transition: transform 0.2s ease-in-out;
  filter: grayscale(5%);
}
div.img{
  
    position: absolute;
    top: 200px;
    left: 110px;
    z-index: 2;    

}
@media screen and (max-width: 1366px) {
  div.img {
    position: absolute;
    top: 200px;
    left: 60px;
    z-index: 2; 
  }
}

div.container

{  
  justify-content: space-evenly;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.4px;
  border-radius: 15px;
     position: relative;
    width: 1770px;
    height: 600px;
    left: 60px;
    z-index: 1;  
 
}
@media screen and (max-width: 1366px) {
  div.container {
    justify-content: space-evenly;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.4px;
    border-radius: 15px;
      position: relative;
      width: 1320px;
      height: 600px;
      left: 10px;
  }
}

div.container1
{  
    position: absolute;
    left: 60px;
    top: 800px;  
    width: 550px;
    height: 500px; 

    background: rgba(0, 0, 0, 0.5);
    opacity: 0.4px;
    border-radius: 15px;
    text-align: justify;
 
}
div.skills
{
  font-family: 'Courier New', Courier, monospace;
  color: #fcf6a9;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  left: 230px;
  top: 770px;   
  z-index: 5;
}
@media screen and (max-width: 1366px) {
  div.skills{
    left: 105px;

  }
}
div#certification
{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: 18px;
  margin-top: 100px;
  cursor: pointer;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 0.2s ease-in-out;


}

div#certification:hover
{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
@media screen and (max-width: 1366px) {
  div#certification {
    font-size: 15px;

  }
}


div.container1 hr{
  width: 60%; 
  color: #ffffff;
  position: absolute;
  top: 60px;
  left: 110px;
  z-index: 3;  
}


div.skills:hover p{
  color: #fbff04;
  transition: 2ms;

}
div.services
{
  font-family: 'Courier New', Courier, monospace;
  color: #fcf6a9;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  left: 870px;
  top: 770px;  
  z-index: 7;  

}
@media screen and (max-width: 1366px) {
  div.services{
    left: 610px;

  }
}
div.services:hover p{
  color: #fbff04;
  transition: 2ms;
}
div.container2 hr{
  width: 60%; 
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 3;  
}

div.container2

{  
     position: absolute;
    left: 675px;
    top: 800px;  
    width: 550px;
    height: 500px; 

    background: rgba(0, 0, 0, 0.5);
    opacity: 0.4px;
    border-radius: 15px;
}
div.container2 p{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: 18px;
  margin-top: 100px;
  cursor: pointer;
position: relative;
margin-left: 50px;
margin-right: 50px;
transition: transform 0.2s ease-in-out;
}
div.container2 p:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

div.container3

{  
     position: absolute;
    left: 1290px;
    top: 800px;  
    width: 550px;
    height: 500px; 

    background: rgba(0, 0, 0, 0.5);
    opacity: 0.4px;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
}

  div.container3 p:active
  {
  transition: transform 0.2s ease-in-out;
  transform:scaleY(1.1);
}

div.contact
{
  font-family: 'Courier New', Courier, monospace;
  color: #fcf6a9;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  left: 1490px;
  top: 770px;  
  z-index: 7; 
  }
  @media screen and (max-width: 1366px) {
    div.contact 
    {
     left: 1100px;;
  
    }
  }

div.container3 hr{
  width: 60%; 
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 3;   width: 60%; 
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 3;  
}

div.contact:hover
{
color: #fbff04;

}
div.containerpics
{
  position: absolute;
  transition: transform 0.2s ease-in-out;
}
div.containerpics:hover
{
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
.facebook
{

  position:absolute;
  top: 162px;
  margin-left: 90px;
  transition: transform 0.5s ease-in-out;
  
}

.instagram
{

  position:absolute;
  top: 234px;
  margin-left: 90px;
  transition: transform 0.5s ease-in-out;
}
  .gmail
{
  position:absolute;
  top: 310px;
  margin-left: 94px;
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1366px) 
{
  .facebook
  {  height: 42px;
    width: 42px;
    margin-left: 60px;
  }
  .instagram
  {   height: 42px;
    width: 42px;
    margin-left: 60px;
    
  }
  .gmail
  {
    height: 40px;
    width: 35px;
    margin-left: 63px;
  }

}










div.container3 p
{
  position: relative;
  top: 142px;
  margin-left: 170px;
  line-height: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: 20px;

}
@media screen and (max-width: 1366px) 
{
  
div.container3 p
{
  line-height: 60px;
  position: relative;
  top: 135px;
  margin-left: 128px;
font-size: 16px;
}
}
div.container3 p:hover{
  color: #fbff04;
  
}

.instagram:hover{
  transform: scale(1.1);

}


.facebook:hover{
  transform: scale(1.1);
}

.gmail:hover{
  transform: scale(1.1);
}









@media screen and (max-width: 1366px) {

  div.container1{
    position: absolute;
    left: 10px;
    top: 800px;  
    width: 400px;
    height: 450px; 
  }
  div.container1 hr{
    width: 60%; 
    position: absolute;
    top: 60px;
    left: 80px;
    z-index: 3; }

  div.container2{
    position: absolute;
    left: 450px;
    top: 800px;  
    width: 450px;
    height: 450px;

  }
  div.container3{
    position: absolute;
    left: 940px;;
    top: 800px;  
    width: 400px;
    height: 450px; 
  }

}

div.HOME
{
    font-size: 30px;
    color: #fcf6a9;
    position: absolute;
top: 190px;
   left: 600px; 
    margin-top: 20px;
    z-index: 3;  
 
}
hr {
    width: 60%; 
    position: absolute;
    top: 260px;
    left: 600px;
    z-index: 3;  
  }
  @media screen and (max-width: 1366px) {
    hr {
      width: 55%; 
      position: absolute;
      top: 260px;
      left: 528px;
      z-index: 3;  
    }
    div.HOME{
      left: 530px;
    }
  }

div.desription
{

  font-size: 20px;
  color: #f5f4e5;
  align-items: center;
  align-content: justify;
  font-family: 'Courier New', Courier, monospace;

  position: absolute;
  top: 300px;
  left: 650px;
  margin-top: 20px;
  z-index: 4;  

}

@media screen and (max-width: 1366px) {
  div.desription {
    font-size: 15px;
    left: 530px;
  }
}



p
{
  line-height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #fcf6a9;
  transition: 2ms;

}
a:active{
  color: #fbff04;
  transition: 2ms;
}




button {


  justify-content: center;
  align-items:normal;
  padding: 18px;
  font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fcf6a9;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 12px;
    margin: 0 3px;
    position: relative;
  
top: 50px;
left: 1370px;
transition: transform 0.2s ease-in-out;
}
@media screen and (max-width: 1366px) {
  button {

    padding: 14px;

      font-size: 12px;

      position: relative;
    
  top: 50px;
  left: 940px;
  }
}

  button:hover {
color:#fcf6a9;
    transform: scale(1.1);
transition: transform 0.2s ease-in-out;

}
    

  
  button:active {
    color: #fcf6a9;
    background: #1d1d1d;;
    box-shadow: 0 10px #00000081;
    transform: translateY(2px);
    transition: 2ms;
    
  }

  div.description {
    position: relative;
  }
  
 div.text-description p {
    opacity: 0;
    animation: fade-in 2s forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 768px) {
    .content {
      width: 100%;
      float: none;
    }
  }

  
